body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    box-sizing: border-box;   
    
    }
    
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;/*determines the back part of the element when we transform it, if it is visible or hidden for the user */
    margin-bottom: 6rem;

    &--main{

        /* block elements occupy all width available */
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

         @include respond(phone){  //width < 600px?
            letter-spacing: 1rem;  
            font-size: 5rem ;        
        }
    
        animation-name: moveInLeft;
        animation-duration:  1s;
        animation-timing-function: ease-out;
       
        /* animation-delay: 3s; 
         animation-iteration-count: 3;*/
    
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

}


.section-about__heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 8rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.section-about__heading-tertiary{
    font-size:$defaul-font-size;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.section-about__paragraph{
    font-size: $defaul-font-size;
    margin-bottom: 3rem;
}


.section-tours__heading--secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 8rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

}

.section-stories__heading--secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 8rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

}


.section-book__heading--secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 4rem;

    @include respond(tab-land){ //width < 1200px?
        margin-bottom: 1rem;
     }
     @include respond(tab-port){ //width < 900px?
        font-size: 3rem;
     }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

}



.popup__heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligth,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin-bottom: 4rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}